<!DOCTYPE html>
  <html lang="en">

  <head>
    <title>Welcome Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>


<div class="container">
<div class="row">
  <div class="col-sm-4">
    <div class="well">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu2-menu1" data-toggle="dropdown">Tag
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu2-menu1">
            {% for tags in Tags%}
            <li role="presentation"><a role="menuitem" href="#">{{tags}}</a></li>
            <li role="presentation" class="divider"></li>
            {% endfor %}
            <li role="presentation"><a role="menuitem" href="#">None</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="#">PROD-ABCD</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="#">STAG-ABCD</a></li>
          </ul>
        </div>
    </div>
   </div>


  <div class="col-sm-4">
<div class="well">
  <!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu2-menu2" data-toggle="dropdown">Instance
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu2-menu2">
        {% for instance in Instances%}
        <li role="presentation"><a role="menuitem" href="#">{{instance}}</a></li>
        <li role="presentation" class="divider"></li>
        {% endfor %}
        <li role="presentation"><a role="menuitem" href="#">i-123456789</a></li>
        </ul>
  </div> -->
  <form>
    <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <br>
      <label for="sel2">Mutiple select list (hold shift to select more than one):</label>
      <select multiple class="form-control" id="sel2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </form>
</div>
  </div>


  <div class="col-sm-4">.col-sm</div>






</div>
</div>
