<head>
<link href="static/sign.css" rel="stylesheet" type="text/css" media="all">
</head>
<div class="login-page">
  <div class="form">
    <h2>rePORTer</h2>
    <form class="register-form" action="" method="post">
      <input type="text" name="username" placeholder="Name" required/>
      <input type="text" name="email" placeholder="Email" required/>
      <input type="password" name="password" placeholder="Choose a Password" required/>
      <button>create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>
